@font-face {
    font-family: ColabThi;
    src: url(../font/ThaiSansNeue-UltraLight.otf);
}

body {
	margin:0;
	font-family: ColabThi;
}
/*Nav bar*/
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: white;
}
.fixed-nav-bar h1 {
	font-weight: lighter;
	position: absolute;
	left: 5%;
	margin-top: 10px;
	font-size: 35px;
}

.fixed-nav-bar h2 {
	position: absolute;
	font-weight: lighter;
	margin: 0;
	top: 15%;
	right: 4%;
	font-size: 50px;
}
/*Menu*/
.menu {
	margin:0;
	background-color: #2f2e2e;
	position: fixed;
	height: 100%;
	width: 350px;		
	right: -350px;
}
.menu a {
	color: white;
	text-decoration: none;
}
.menu ul {
	list-style-type: none;
	line-height: 70px;
	font-size: 28px;
	position: relative;
	text-indent: 7%;
	top:20%;
}
.menu h2 {
	color: white;
	position: absolute;
	top: 2%;
	right: 15%;
}
/*PIC*/
.allpic {    
	position: relative;
	width: 1240px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    
}
.box1 {
	float: left;
    height: 240px;
    width: 370px;
    margin-left: 25px;
    margin-bottom: 30px;
    overflow: hidden;
}
.box1 img {
	max-width:100%;
	max-height:100%;
}
.box1 :hover {
	transition-duration: 0.3s;
	opacity: 0.7;
	max-width:100%;
	max-height:100%;
}
.box1 p {
	opacity: 1;
	font-size: 50px;
	z-index: 10;
}
/*IN PAGE*/
.cover {
	height: 768px;
	width: 100%; 
	background-image:url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
.page {
	width: 100%;
	background-color: white;
}

.page .content {
	width: 900px;
	margin-right: auto;
	margin-left: auto;

}
.page .content .info {
	max-width: 900px;
	padding-top: 80px;
	padding-right: 30px;
	padding-bottom: 80px;
	padding-left: 30px;
}
.info h2 {
	color: black;
	text-align: center;
	letter-spacing: 20px;
	margin-bottom: 35px;
	font-size: 60px;
	padding: 0;
}
.info .detail {
	text-align: center;
	font-size: 25px;
	line-height: 24px;
	padding-top: 37px;
	line-height: 1.2em;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}
.boxD {
	position: relative;
	text-align: center;
	height: 450px;
	width: 740px;
	margin-bottom: 30px;
	clear: both;
	float: left;
	left: 10%;
}

