	@font-face {
    font-family: ColabThi;
    src: url(../font/ThaiSansNeue-UltraLight.otf);
}

body {
	margin:0;
	font-family: ColabThi;
}
/*--------------- MENU ----------------- */
.menu {
	position: fixed;
	width: 100%;
	height: 100%;
	background: 50%;
	background-color: #222;
	opacity: 0.95;
	z-index: 10000;
	visibility: hidden;
	text-align: center;
	opacity: 0;
	transition: all 0.5s;
}
.menu p {
	position: relative;
	color: white;
	font-size: 25px;
	text-decoration: none;
	cursor:pointer;
}
.menu a {
	position: relative;
	top: 20%;
	color: white;
	font-size: 70px;
	text-decoration: none;

}
#close {
	position: relative;
	color:white;
	font-size: 25px;
	left: 45.5%;
	text-decoration: none;
}
/*-----Register------------*/
.regis {
	position: absolute;
	left: 33%;
	top: 10%;
    background-color: #f4f4f4;
    width: 500px;
    height: 500px;
    padding: 5px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 1%;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
.regis p {
	font-size: 30px;
	margin: 0px;
	padding-right: 15px;
	text-align: right;
	cursor: pointer;
}

.regis h2 {
	text-align: center;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 20px
}

.regis input {
	position: relative;
	padding:10px;
	margin-bottom: 10px;

}
#dateReg {
	width: 34%;
}



/*-----Login---------------*/
.login {
	position: absolute;
	left: 28%;
	top: 10%;
    background-color: #f4f4f4;
    width: 600px;
    height: 500px;
    padding: 5px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    border-radius: 2%;
    z-index: 1000;
}
.login p {
	font-size: 30px;
	margin: 0px;
	padding-right: 15px;
	text-align: right;
	cursor: pointer;
}
.login h2 {
	text-align: center;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 20px
}
.login input {
	position: relative;
	padding:10px;
	margin-bottom: 10px;

}

#submit {
	color: white;
	margin-top: 20px;
	background-color: #3a3a3a;
	border-radius: 10%;
}
#checkboxSpane {
	font-size: 20px;
	padding: 5px;
}
/*---------BG--------------*/
.bg {
	background-image: url(../images/13.jpg);
	background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background-position: center center;
    transition: all 0.4s;

}
.open {
	position: relative;
	left: 95%;
}
.open p {
	font-size: 60px;
	margin:0;
	font-weight: 500;
	color: white;
	cursor: pointer;
}
.head {
	position: relative;
	text-align: center;
}
.head h2 {
	font-size: 250px;
	margin: 0;
	color: white;
	font-weight: lighter;
	letter-spacing: 5px;
	opacity: 0;	
	transition: all 1s;
}
.setBtn {
	position: relative;
	left: 40%;
}

.bn p {
	opacity: 0;
	transition: all 1s;
	font-weight: lighter;
}
.bn a {
	font-size: 30px;
	text-decoration: none;
	letter-spacing: 2px;
	color: white;
	border: 0px solid white;
	padding:0 50px 5px 50px;
}
.bn a:hover {
	font-size: 30px;
	text-decoration: none;
	background-color: white;
	letter-spacing: 2px;
	color: #202020;
	padding:0 50px 5px 50px;
	transition: all 0.7s;
}

/*----- F A D E --------*/
.fade {
	position: absolute;
	background-color: black;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	z-index: 900;
	transition: all 0.5s;
}

/*------ BTN CHANGE -----*/
.btnChange {
	position: absolute;
	top: 5%;
	left: 3%;
}
#in,#up {
	color: white;
	font-size: 25px;
	padding: 15px; 
	cursor: pointer;	
	letter-spacing: 2px;
}
