@font-face {
    font-family: ColabThi;
    src: url(font/Colaborate/ColabThi.otf);
}

body {
	margin:0;
	font-family: ColabThi;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: white;
}
.fixed-nav-bar h1 {
	font-weight: lighter;
	position: absolute;
	left: 5%;
}

.fixed-nav-bar h2 {
	position: absolute;
	font-weight: lighter;
	margin: 0;
	top: 30%;
	right: 4%;
	font-size: 35px;
}
.menu {
	margin:0;
	background-color: #2f2e2e;
	position: fixed;
	height: 100%;
	width: 350px;		
	right: -350px;
}
.menu a {
	color: white;
	text-decoration: none;
}
.menu ul {
	list-style-type: none;
	line-height: 70px;
	font-size: 28px;
	position: relative;
	text-indent: 7%;
	top:20%;
}
.menu h2 {
	color: white;
	position: absolute;
	top: 2%;
	right: 15%;
}
.allpic {    
	position: relative;
	width: 1240px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    
}
.box1 {
	float: left;
    height: 240px;
    width: 370px;
    margin-left: 25px;
    margin-bottom: 30px;
    overflow: hidden;
}
.box1 img {
	max-width:100%;
	max-height:100%;
}
.box1 :hover {
	transition-duration: 0.3s;
	opacity: 0.7;
	max-width:100%;
	max-height:100%;
}
.box1 p {
	opacity: 1;
	font-size: 50px;
	z-index: 10;
}


